.logo {
	 float: left;
	 padding: 50px 30px;
	 }
.jpg {
		margin: 350px 20px 30px 50px
		}  
.jpg2 {
		margin: 340px 20px 30px 50px
 	}                     
body {
margin-top: -23px;
margin-left: -23px;
margin-bottom: -23px
}
 nav {
	 float: right;
	 padding: 30px                     
}
 nav ul {                   
	 margin: auto;
	 padding: auto;
	 list-style: none;
}
 nav li {
	 display: inline-block;
}
 body {
	 background: #000000;
	 color: #fff;
}
 a {
	 color: #808000
}
 h1 {
	 color: #008080
}
 p {
	 color: #008000
}
 ol {
	 color: #008000
}
